
@{
    ViewBag.Title = "About";
}

<h2>About me</h2>
<br/><br />
<p>ARBETSLIVSERFARENHET</p>
<a>2000–1994<p>Certificate of diploma in Electronics & Electrical Engineering-Informatics Engineering "computers"</p></a>
<br /><br />
<p>UTBILDNING</p>
<a>2017-<p>Jag fick bedomning från ENIC-NARICC Sverige Reg.nr322-0456 Utbildningen motsvarar högskoleingenjörsexamen som inriktad mot elektronik och dator teknink</p></a>
