
@{
    ViewBag.Title = "Contact";
}
<br/><br />
<h4>Contact</h4>

<h6>My Name     : @ViewBag.Name</h6>
<h6>My phone    : @ViewBag.Phone</h6>
<h6>My E-post   : @ViewBag.ePost</h6>
<h6>My Address  : @ViewBag.Address</h6>


