
@{
    ViewBag.Title = "Projects";
}

<br/><br/>
<h2>@ViewBag.Projects</h2><br />
<a><p>2005-2006</p> System designer för automatisering av mekaniska barriärer, ex.bommar,i korsning av väg-järnväg,med PLC (Programming Language Controllers)  </a>
